/* element controls */
body {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}

.row {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
}

/* text styles and controls */
h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 5vmin;	
	margin: auto;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 3.5vmin;
	margin: auto;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 3vmin;
	margin: auto;
}

h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 2.5vmin;
	margin: auto;
}

a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 2.5vmin;
    background-color: transparent;
}

p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 2.5vmin;
}

.text-left {
	text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
  text-align: center;
}

.text-upper {
	text-transform: uppercase;
}

.text-space {
	text-indent: 10px;
}

.text-shadow {
	text-shadow: 3px 3px 3px #aaa;
}

.text-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* image styles */
.img-responsive {
  	display: block;
  	max-width: 100%;
  	height: auto;
}

.logo {
	max-height: 10vmin;
}

.icon {
	border: 0;
  width: 88px;
  height: 31px;
}

/* Columns */
.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
	width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.col-12, .col-11, .col-10, .col-9,
.col-8, .col-7, .col-6, .col-5,
.col-4, .col-3, .col-2, .col-1 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
/* media queries */
@media screen and (min-width: 1201px) {
  	hr {
  		border-top: 2.5px solid #000;
  	}
  	.myimg {
  		box-shadow: 3px 3px 3px #aaa;
  	}
}

@media screen and (max-width: 1200px) {
  	hr {
  		border-top: 2.5px solid #000;
  	}
  	.myimg {
  		box-shadow: 3px 3px 3px #aaa;
  	}
}

@media screen and (max-width: 1000px) {
	hr {
  		border-top: 2.5px solid #000;
  	}
	.myimg {
  		box-shadow: 3px 3px 3px #aaa;
  	}
}

@media screen and (max-width: 800px) {
	hr {
  		border-top: 2.5px solid #000;
  	}
	.myimg {
  		box-shadow: 3px 3px 3px #aaa;
  	}
}

@media screen and (max-width: 600px) {
  	hr {
  		border-top: 1.5px solid #000;
  	}.myimg {
  		box-shadow: 1.5px 1.5px 1.5px #aaa;
  	}
  	p {
  		font-size: 3vmin;
  	}
}

@media screen and (max-width: 400px) {
  	hr {
  		border-top: 1.5px solid #000;
  	}
  	.myimg {
  		box-shadow: 1.5px 1.5px 1.5px #aaa;
  	}
  	p {
  		font-size: 3vmin;
  	}
}


